<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="connection" type="System.Configuration.SingleTagSectionHandler" />
    <section name="paths" type="System.Configuration.SingleTagSectionHandler" />
    <section name="crystalreports" type="System.Configuration.SingleTagSectionHandler" />
  </configSections>
  <connection name="Production" use="1">
    <server>172.16.25.119</server>
    <database>production</database>
    <user>apuser</user>
    <password>rqYO+SPdyd1g1JGhUXMm2w==</password>
    <port>3306</port>
    <option>3</option>
  </connection>
  <connection name="Replication" use="0">
    <server>172.16.25.63</server>
    <database>production</database>
    <user>apuser</user>
    <password>rqYO+SPdyd1g1JGhUXMm2w==</password>
    <port>3306</port>
    <option>3</option>
  </connection>
  <connection name="Prod5.0" use="0">
    <server>172.16.26.47</server>
    <database>production</database>
    <user>apuser</user>
    <password>rqYO+SPdyd1g1JGhUXMm2w==</password>
    <port>3306</port>
    <option>3</option>
  </connection>
  <paths>
     <report>
        <base>R:\PSSInet_Reports_Repl1\</base>
     </report>
  </paths>
  <CrystalReports>
		<PrintDateFormat>ddd, MMM d, yyyy</PrintDateFormat>
		<PrintTimeFormat>h:mm tt</PrintTimeFormat>
                <BarcodePrinterName>Barcode Printer</BarcodePrinterName>
  </CrystalReports>
</configuration>