<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="connection" type="System.Configuration.SingleTagSectionHandler" />
  </configSections>
  <connection name="Production" use="1">
    <server>172.16.25.21</server>
    <database>production</database>
    <user>appuser</user>
    <password>zwiotyP/2kgPEPvZ9FGlSQ==</password>
    <port>3306</port>
    <option>3</option>
  </connection>
  <connection name="Replication" use="0">
    <server>172.16.25.63</server>
    <database>production</database>
    <user>appuser</user>
    <password>zwiotyP/2kgPEPvZ9FGlSQ==</password>
    <port>3306</port>
    <option>3</option>
  </connection>
  <connection name="Prod5.0" use="0">
    <server>172.16.26.47</server>
    <database>production</database>
    <user>appuser</user>
    <password>zwiotyP/2kgPEPvZ9FGlSQ==</password>
    <port>3306</port>
    <option>3</option>
  </connection>
  <paths>
     <report>
        <base>\\svr_pssiusr\Reports\PSSInet_Reports_Repl1\</base>
     </report>
  </paths>
</configuration>